* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', 'Segoe UI', sans-serif;
}

html,
body {
    background-color: #fff;
}

code {
    font-family: 'Courier New', Consolas, 'Fira Code', monospace;
}

/* 8px */
@font-face {
    font-family: MSSerif;
    src: url(./assets/fonts/MSSansSerif.ttf);
}

@font-face {
    font-family: Millennium;
    src: url(./assets/fonts/Millennium.ttf);
}

@font-face {
    font-family: MillenniumBold;
    src: url(./assets/fonts/Millennium-Bold.ttf);
}

@font-face {
    font-family: Terminal;
    src: url(./assets/fonts/Terminal.ttf);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

p b {
    font-weight: 700;
}

.showcase-header {
    font-size: 15px;
    color: white;
}

.toolbar-text {
    font-size: 18px;
    color: black;
}

h1 {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 64px;
}

h2 {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 32px;
}

h3 {
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    letter-spacing: 0px;
}

h4 {
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
}

li {
    margin-bottom: 12px;
}

.blend {
    mix-blend-mode: screen;
    background-color: red;
}

:root {
    --button-highlight: #ffffff;
    --button-face: #747474;
    --button-shadow: #808080;
    --window-frame: #2b2b2b;
    --surface: #c0c0c0;
    --surface-hover: #e9e9e9;
    --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
    --border-raised: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
    --border-sunken: inset 1px 1px var(--button-highlight), inset -1px -1px var(--button-shadow);
}

a {
    color: #2b2b2b;
}

.router-link {
    color: #2b2b2b;
}

.site-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.site-page-content {
    padding: 64px;
    padding-left: 48px;
    box-sizing: border-box;
    flex: 1;
    margin-left: 300px;
    height: 100%;
    overflow-y: auto;
}

.text-block {
    width: 90%;
    text-align: justify;
    padding-top: 32px;
    padding-bottom: 32px;
    box-sizing: border-box;
}

.captioned-image {
    flex-direction: column;
    align-items: center;
}

.captioned-image img {
    width: 80%;
}

.site-page-content img {
    border-radius: 8px;
}
